/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Logo at the top left */
.page-logo {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 250px;
  height: 70px;
  z-index: 0;
}

/* Body */
body {
  font-family: "Orbitron", sans-serif;
  background-color: #0B0B45;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  position: relative;
  color: #FFFFFF;
}

/* Background image */
#background-image {
  position: fixed;
  top: 0;
  left: 400px;
  width: calc(100% - 400px);
  height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 0.6;
}

/* Chat container */
.chat-container {
  top: 2%;
  width: 80%;
  height: 80%;
  background-color: rgba(11, 11, 69, 0.8);
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  border: 2px solid #E03A3E;
  z-index: 1;
}

/* Social icons */
.social-icons {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 15px;
  z-index: 1;
}

.icon {
  text-decoration: none;
  transition: border-color 0.3s;
  background-color: #0B0B45;
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon:hover {
  border-color: #0072CE;
}

.social-icon-img {
  width: 20px;
  height: 20px;
}

/* CHAT Header */
.chat-header {
  padding: 20px;
  text-align: center;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-text h1 {
  font-family: "Zen Dots", sans-serif;
  font-size: 2.5em;
  font-weight: bold;
  text-transform: uppercase;
  color: #FFFFFF;
}

.header-text p {
  font-family: "Orbitron", sans-serif;
  font-size: 1em;
  color: #FFFFFF;
  text-transform: uppercase;
  opacity: 0.8;
}

/* Chat messages */
.chat-messages {
  font-family: "Orbitron", sans-serif;
  flex-grow: 1;
  padding: 2vh;
  overflow-y: auto;
  background-color: transparent;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
}

.chat-messages p,
.chat-messages .bot-message {
  margin: 1vh 0;
  padding: 1.5vh 2vw;
  background-color: #0072CE;
  color: #FFFFFF;
  border-radius: 10px;
  align-self: flex-start;
  max-width: 70%;
}

.chat-messages .user-message {
  margin: 1vh 0;
  padding: 1.5vh 2vw;
  background-color: #E03A3E;
  color: #FFFFFF;
  border-radius: 5px;
  max-width: 70%;
  align-self: flex-end;
}

.chat-messages .test-query {
  margin: 10px 0;
  padding: 10px 20px;
  background-color: #0072CE;
  color: #FFFFFF;
  cursor: pointer;
  text-align: center;
  width: 24%;
  align-self: flex-end;
}

.chat-messages .test-query:hover {
  background-color: #E03A3E;
  color: #FFFFFF;
}

.chat-messages strong,
.chat-messages span {
  align-self: flex-start;
  margin: 1vh 0;
  max-width: 70%;
  display: block;
}

/* Form */
#chatForm {
  padding: 20px;
  background-color: transparent;
  display: flex;
  gap: 10px;
}

#query {
  flex-grow: 1;
  padding: 15px;
  border: none;
  border-radius: 25px;
  background-color: #F5F5F5;
  color: #0B0B45;
  font-size: 1em;
  outline: none;
  font-family: "Orbitron", sans-serif;
}

#query::placeholder {
  color: #0B0B45;
  opacity: 0.7;
}

button {
  padding: 15px 30px;
  font-family: "Orbitron", sans-serif;
  background-color: #E03A3E;
  color: #FFFFFF;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
}

button:hover {
  background-color: #0072CE;
}

.description {
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  text-transform: none;
}

.non-query {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  text-transform: none;
  background-color: #0072CE;
  color: #FFFFFF;
}

.non-query:hover {
  background-color: #E03A3E;
}
